<!DOCTYPE html>
<html>
	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css" />
		<link rel="stylesheet" href="main.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
		<script src="gameController.js"></script>
		<script src="game.js"></script>
	</head>
	<body ng-app>
		<div ng-controller="GameController" ng-model="game">
			<!-- Select game type panel -->
			<div class="cpanel">
				<div class="btn-group" ng-class="{ unavailable: selectedGameType != null }">
				  <button class="btn" ng-click="onSelectGame(false)">user first</button>
				  <button class="btn" ng-click="onSelectGame(true)">computer first</button>
				</div>
			</div>
			<!-- Place for game -->
			<div class="game" ng-class="{ unavailable: selectedGameType == null }">				
				<div ng-repeat="item in game.getStates()" ng-click="onUserClick($index)" class="cell" ng-class="{cross: item.state == 1, nought: item.state == 0}">
					{{showState(item)}}
				</div>
			</div>
			<!-- Result -->
			<h3 class="result">{{showResult(game != null && game.getGameResult())}}</h3>
			<!-- Log records -->
			<ul>
				<li ng-repeat="record in game.getLog()">{{record}}</li>
			</ul>
		</div>
	</body>
</html>