.game {
	width: 302px;
	margin: 20px auto;
	overflow: hidden;
	font-family: Comic Sans MS;
	font-weight: bold;
	text-align: center;
}
.cpanel {
	margin: 20px auto;
	width: 302px;
}
.cpanel .btn {
	width: 150px;
}
.game div.cell {
	width: 100px; 
	height: 100px; 
	border: solid 1px #000; 
	float: left;
	font-size: 64px;
	text-align: center;
}
.result {
	text-align: center;
	padding: 4px;
	height: 48px;
}
.cross {
	color: blue;
}
.nought {
	color: red;
}
.unavailable {
	visibility: hidden;
}